<ul class="nav">
  <li class="dropdown" data-dropdown="dropdown">
  <a class="dropdown-toggle" href="#">Account</a>
  <ul class="dropdown-menu">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li class="divider" />
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
  </li>
</ul>
